<section role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Mahmoud Osman</h1>
          <p>
            I am software engineer and have worked on multiple projects in the
            past that made the web more secure and enjoyable for users. The most
            recent projects that I have involved in are: Angular, Spring Boot,
            Express, React, MYSQL, MongoDB where we built full fledged
            applications that utilizes both frontend and backend technologies.
          </p>
          <p>
            <a
              class="btn btn-primary btn-lg"
              href="https://www.mahmoudosman.com/"
              role="button"
              target="_blank"
              >Learn more &raquo;</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Angular</h3>
        <p>Built with Angular</p>
      </div>
    </div>
  </div>
</section>
